@media screen and (min-width: 34rem ){
    #header{
        width: 100%;
    }
    .navbar{
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 1rem 5rem;
    }
    .heading-menu{
        flex-direction: column;
        width: 70%;
        align-items: start;
        margin-left: 0.5rem;
    }
    .nav-heading{
        width: 100%;
        padding: 0.8rem 0 0 0 ;

    }
    .menu-options{
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    .menu-options p{
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
    .donate-button-container{
        width: 30%;
        margin: 0 0.5rem 0 0;
    }
    .donate-button{
        width: 100%;
    }

    /*Nav bar completed*/

    /*Issue section start*/
    .the-issue{
        background: url('./assets/about-us/issueTab.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5rem;
    }
    .issue-box{
        margin: 0 35%;
        left: -28%;
    }

    .issue-content{
        align-items: start;
    }
    .issue-content > h1{
        text-align: start;
        padding-left: 1rem ;
    }

    .issue-content > p{
        text-align: left;
        padding-left: 1rem;
        font-size: 1rem;
    }

    /*Issue section completed*/

    .action-box{
        margin: 0 30%;
    }
    .take-action{
        padding: 2rem 6rem;
    }
    /*Action Section completed*/

    .what-do{
        align-items: start;
        padding: 2rem 3rem 0rem 5rem;
    }
    .what-do-heading{
        text-align: start;
        font-size: 2rem;
    }
    .card{
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 1rem;
        padding: 1rem;
        column-gap: 1rem;
    }   
    .card img{
        grid-column: 1/2;
        align-self: center;
    }

    .heading-content{
        width: 100%;
        justify-self: left;
        font-size: 1.5rem;
    }

    .para-content{
        width: 100%;
    }

    .what-do-heading-1{
        margin: 0;
        text-align: left;
    }
    .para-content p{
        text-align: left;
    }
    .what-do-content{
        grid-column: 2/3;
        grid-row: 1/3;
        text-align: start;
        justify-self: start;
        /* max-width: 20rem; */
    }

    .what-do-button{
        height: 2.5rem;
        padding: 0 1rem;
    }

   

    /* what do completed*/

    .hunger-issue{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;
        background: url('./assets/home/Did\ you\ know\ background\ tab.png');
        background-size: cover;
        padding-left: 3rem;
        padding-right: 2rem;
    }

    .hunger-heading{
        width: 50%;
        margin-left: 6%;
        margin-top: 10%;
        margin-right: 10%;
    }

    .hunger-cards{
        width: 50%;
    }

    .hunger-did-head{
        margin-left: 10%;
        margin-right: 0%;
    }

    /*Hunger section completed*/

    /*stories Section started */

    .stories{
        padding-right: 2rem;
        padding-left: 3rem;
    }
    
    .image{
        width: 90%;
        padding: 0;
    }

    .image img{
        width: 90%;
    }

    .stories-head{
        margin-left: 10%;
        margin-right: 60%;
    }

    .stories-black-block{
        margin-top: -10%;
        width: 90%;
        margin-left: 15%;
    }

    .stories-content{
        padding: 4rem 0.8rem 4rem 4rem;
    }

    .stories-content h4{
        text-align: start;
        font-size: 1.8rem;
    }

    .stories-content p{
        text-align: start;
        font-size: 0.8rem;
    }

    .stories-button{
        margin-right: 60%;
        margin-left: 2%;
        margin-top: 1rem;
    }


/* stories section ended*/

/*action section started*/


.save-future{
    padding: 2rem 4rem;
}
.save-future>.container{
    max-width: 660px;
}

.save-future>.container>.heading{
    width: 95%;
}
.save-future>.container>.heading>h2{
    text-align: start;
    font-size: 2.75rem;
    line-height: 120%;
}

.save-future>.container>.box{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0%;
}

.save-future>.container>.second{
    flex-direction: row-reverse;
}

.save-future>.container>.box>.img{
    width: 50%;
    height: 285px;
}

.save-future>.container>.box>.para{
    width: 50%;
    align-items: flex-start;
}

.save-future>.container>.box>.para>.top{
    top: 0;
}

.save-future>.container>.box>.para>h4{
    font-size: 2rem;
    line-height: 100%;
    margin:30px 0px;
    text-align: start;
}

.save-future>.container>.box>.para>p{
    text-align: start;
}

.save-future>.container>.first>.para{
    padding-left: 5%;
}

.save-future>.container>.second>.para{
    padding-right: 5%;
}
.read-button{
    grid-column: 1/2;
    justify-self: end;
}

/*Action section complete*/

/* subscribe section start*/

    .subscribe{
        padding: 2rem 4rem;
    }

    .email-input{
        width: 70%;
    }

    .subscribe-button{
        width: 30%;
    }


/*Subscribe section ended*/

/*Footer is started*/

    .footer{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem 4rem;
    }

    .learn-footer{
        grid-column: 2/3;
    }
    .footer h1{
        grid-column: 3/4;
    }
}