:root {
    --text-color: #354463;
    --button-background: #C1F7D5;
  }

  
*{
  list-style: none;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.bold-heading{
    position: relative;
    background-color: var(--text-color);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    color: white;
}
.read-button{
    font-weight: bold;
    border-radius: 1.5rem;
    background-color: var(--button-background);
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    color: var(--text-color);
}
body, html{
    width: 100%;
    overflow-x: hidden;
}

/* Navbar is starting*/
.navbar{
    display: flex;
    font-family: sans-serif;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    color: var(--text-color);
}
.heading-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-heading{
    padding: 1.2rem 0.7rem;
    width: 55%;
    font-size: 0.7rem;
    font-family: sans-serif;
}

.nav-heading a{
    color: var(--text-color);
    text-decoration: none;
}
.menu-options{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 0.7rem;
    cursor: pointer;
    font-size: 1rem;
}

.menu-options a{
    text-decoration: none;
    color: var(--text-color);
}
.menu-options p{
    margin-bottom: 0.5rem;
}

.about-us{
    color: var(--text-color);
}
.donate-button-container{
    width: 100%;
    margin: 0 10% 5% 10%;
}
.donate-button{
    cursor: pointer;
    padding: 0.6rem;
    width: 80%;
    border-radius: 1.5rem;
    border: none;
    background: var(--button-background);
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color);
}
/* Navbar ended*/

/* The issue box is starting*/
.the-issue{
    background: url('./assets/home/annie-spratt-135307-unsplash.png');
    padding: 2rem 1rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.issue-heading{
    font-size: 1rem;
    font-family: flood-std;
    color: white;
}

.issue-heading h1{
    font-size: 3rem;
}
.issue-box{
    top: 4rem;
    margin: 0 30%;
}

.issue-content{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: var(--text-color);
    padding: 2.3rem 2rem;
}
.issue-content h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.issue-content p{
    font-size: 0.8rem;
    text-decoration: underline;
    text-align: center;
}

/* The issue box is ended*/

/* action section is starting*/
.take-action{
    padding:2rem 2rem;
    background-color: var(--button-background);
}

.action-box{
    top:-3rem;
    margin: 0 15%;
}

.container-action{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1.5rem;
    color: var(--text-color);
}
.container-action h3{
    margin-bottom: 0.3rem;
}

/*action section ended */ 

.what-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    background-color: var(--text-color);
    color: white;
}

.white-button{
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    background-color: white;
    border: none;
    color: var(--text-color);
}
.white-button-container{
    margin-bottom: 1rem;
}

.what-do-heading{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.all-cards{
    display: flex;
    flex-direction: column;
}
.card{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    margin-bottom: 5em;
}
.card img{
    justify-self: center;
    margin-top: -3rem;
}

.what-do-content{
    color: var(--text-color);
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.what-do-content p{
    text-align: center;
    padding: 1rem 3rem 1.5rem 3rem;
    /* grid-row: 2/4; */
}

.what-do-button{
    margin-bottom: 1rem;
    justify-self: center;
}
/*what do complete*/

/*hunger issue start*/

.hunger-issue{
    background: url('./assets/home/Did\ you\ know\ background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 2rem;
    margin-top: -3rem;
    margin-bottom: 2rem;
}

.hunger-heading h1{
    color: white;
    font-family: flood-std;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.hunger-did-head{
    margin-left: 20%;
    margin-bottom: -2rem;
    margin-right: 20%;
}

.hunger-button{
    padding: 1rem;
    margin-bottom: 3rem;
}

.hunger-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hunger-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    padding: 1.5rem 1rem;
    background-color: white;
    color: var(--text-color);
}

.hunger-card h3{
    grid-column: 1/3;
    align-self: center;
    font-size: 1.2rem;
    grid-column: 1/4;
}

.hunger-card p{
    grid-column: 1/4;
}

.eclipse-hunger{
    background-color: var(--button-background);
    border-radius: 50%;
}

.twitter{
    grid-column: 4/5;
    grid-row: 1/2;
    padding: 1rem;
    margin: 1rem 2rem 1rem 45%;
    background-image: url('./assets/home/twitter.jpeg');
    background-repeat: no-repeat;
    background-position: center;
}
.facebook{
    background-image: url('./assets/home/facebook.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 4/5;
    grid-row: 2/3;
    margin: 1rem 2rem 1rem 45%;
    padding: 1rem;
    align-self: start;
}

/*Hunger Issue completed*/


/*Stories Section started*/
.stories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.image{
    width: 100%;
    padding: 1rem 1rem;
    margin-left: 0%;
}

.image img{
    width: 100%;
}

.stories-black-block{
    display: flex;
    flex-direction: column;
}

.stories-content{
    color: white;
    background-color: var(--text-color);
    padding: 1rem 2rem;
    margin: 0rem 1rem;
}

.stories-head{
    margin: 0 20%;
    margin-bottom: -1rem;
}

.stories-content h4{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.stories p{
    text-align: center;
    font-size: 0.7rem;
    font-weight: 50;
}

.stories-button{
    margin: 2rem 15% 1rem 15%;
}

/* stories section ended*/

/*action section started*/

.action-now{
    display: flex;
    width: 100%;
    padding: 3rem 2rem ;
    background-color: var(--text-color);
    flex-direction: column;
    align-items: center;
    color: white;
}
.action-now h1{
    font-size: 2.5rem;
    font-family: flood-std;
    text-align: center;
    margin-bottom: 3rem;
    margin-left :5%;
    margin-right :5%;
}

.grid-view{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.action-white{
    position: relative;
    margin-bottom: -5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
/* object-fit: contain; */
.action-image img{
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.action-heading{
    text-align: center;
    margin-bottom: 1rem;
}

.action-content p{
    text-align: center;
    margin-bottom: 1rem;
}

.action-button{
    margin-left: 30%;
    color: var(--text-color);
    font-weight: bold;
    margin-right: 25%;
    margin-bottom: 3rem;
}

/*Action section complete*/

/* subscribe section start*/

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.6rem;
    color: var(--text-color);
    background-color: var(--button-background);
}

.subscribe h1{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.subscribe-form{
    display: flex;
    flex-direction: row;
    align-self: start;
    width: 100%;
    gap: 5%;
}

.email-input{
    border-radius: 2rem;
    padding: 1rem;
    border: none;
}
.subscribe-button{
    background-color: var(--text-color);
    color: var(--button-background);
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    border: none;
}

/*Subscribe section ended*/

/*Footer is started*/

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 4em;
    padding: 1rem;
    color: var(--text-color);
    margin-top: 2rem;
}

.footer h2{
    font-size: 1.5rem;
    justify-content: center;
}

.list{
    font-size: 0.8rem;
}

.list ul{
    margin-bottom: 0.3rem;
}

.list ul:last-child{
    margin-bottom: 0rem;
}
.list ul:first-child{
    margin-bottom: 0.7rem;
}

.decoration ul{
    text-decoration: underline;
}
.decoration ul:first-child{
    text-decoration: none;
}

.footer h1{
    font-family: flood-std;
    grid-column: 2/3;
    font-size: 2.5rem;
    margin-top: -1rem;
}

.contact, .learn-footer{
    margin-left: 10%;
}
