@media screen and (min-width: 57rem){
    .navbar{
        flex-direction: row;
        align-items: center;
        padding: 1rem 4rem;
    }
    .heading-menu{
        flex-direction: row;
        align-items: center;
        width: 70%;
        font-size: 1rem;
    }
    .nav-heading{
        /* font-size: 0.7rem; */
        width: 30%;
        font-size: 1rem;
    }
    .menu-options{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-left: 1rem;
    }
    .menu-options p{
        font-size: 1rem;
    }
    .donate-button-container{
        width: 20%;
    }

    /* navbar completed*/

    .the-issue{
        background: url('../assets/home/annie-spratt-135307-unsplash@2x.png');
        background-size: cover;
        padding: 3rem 7rem;
        width: 100%;
    }
    .container{
        flex-direction: row-reverse;
        justify-content: left;
    }
    .issue-box{
        left: -50%;
        top: 2rem;
        padding: 0.6rem;
        margin: 0;
        width: 23rem;
    }
    .bold-heading{
        height: 2rem;
        justify-content: center;
    }
    .issue-heading{
        font-size: 1.3rem;
        padding-top: 2.5rem;
    }

    .issue-heading h1{
        font-size: 3rem;
    }

    .issue-content h1{
        font-size: 2rem;
    }

    /*Issue section completed*/

    .action-box{
        margin: 0 40%;
    }

    .container-action{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .action-content p{
        font-size: 1.3rem;
    }

    .take-action{
        padding: 2rem 7rem;
    }
    /*Action Section completed*/

    .what-do{
        padding: 2rem 5rem 0 7rem;
    }
    .all-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3rem;
        width: 100%;
    }
    
    .card{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0rem;
        max-width: 20rem;
    }   
    .card img{
        grid-column: 1/2;
        width: 110%;
        justify-self: end;
        margin-right: -2rem;
    }
    .what-do-content{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .what-do-heading-1{
        font-size: 1.6rem;
    }
    .what-do-content p{
        text-align: start;
        align-self: start;
        padding: 0;
        margin-top: 1rem;
    }
    .read-button{
        /* justify-self: center; */
    }
    .what-do-button{
        margin: 0;
        grid-column: 1/2;
        margin-top: 1rem;
        justify-self: start;
    }

    /* what do completed*/
        
    .hunger-issue{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: top;
        background: url('./assets/home/Did\ you\ know\ background\ lap.png');
        background-size: cover;
        background-position: bottom;
        padding: 4rem 5rem;
    }

    .hunger-heading{
        width: 50%;
        /* margin-left: 0%; */
        margin-top: 10%;
    }
    
    .hunger-heading h1{
        
        font-size: 4rem;
    }

    .hunger-cards{
        margin: 0 3%;
        width: 100%;
    }
    .hunger-card h3{
        font-size: 1.8rem;
    }

    .hunger-did-head{
        margin-left: 10%;
        margin-right: 30%;
    }

/*Hunger Issue completed*/


/*Stories Section started*/

    .stories{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .image{
        width: 100%;
        padding: 0;
        margin-right: 10%;
    }

    .image img{
        width: 115%;
    }

    .stories-black-block{
        position: relative;
        margin-top: 5%;
        width: 100%;
        margin-right: -5%;
        padding: 0;
        margin-left: 5%;
    }

    .stories-content{
        padding: 2rem;
    }

    .stories-button{
        margin-top: 1rem;
        margin-right: 60%;
        margin-left: 2%;
    }

/*stories section completed*/

/*action section started*/

    .action-image img{
        width: 100%;
        height: 100%;
        margin-top: -8%;
    }


    .save-future{
        padding: 4rem 6rem;
    }
    .save-future>.container{
        max-width: 1140px;
    }

    .save-future>.container>.heading{
        width: 95%;
    }

    .save-future>.container>.heading>h2{
        text-align: start;
        font-size: 4.5rem;
        line-height: 120%;
    }

    .save-future>.container>.box{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }
    

    .save-future>.container>.second{
        flex-direction: row-reverse;
    }

    .save-future>.container>.box>.img{
        width: 50%;
        height: 585px;
    }

    .save-future>.container>.box>.para{
        width: 50%;
        align-items: flex-start;
        height: 100%;
    }

    .save-future>.container>.box>.para>.top{
        top: 0;
    }

    .save-future>.container>.box>.para>h4{
        font-size: 2.8rem;
        line-height: 100%;
        text-align: start;
        padding: 25px 0px;
        margin: 0;
    }

    .save-future>.container>.box>.para>p{
        text-align: start;
        font-size: 1.2rem;
        line-height: 140%;
    }

    .save-future>.container>.first>.para{
        padding-left: 10%;
    }

    .save-future>.container>.second>.para{
        padding-right: 10%;
    }
/*Action section complete*/

/* subscribe section start*/

    .subscribe{
        flex-direction: row;
        justify-content: center;
        padding: 2rem 7rem;
    }

    .subscribe h1{
        margin-bottom: 0;
        margin-right: 10%;
    }


/*Subscribe section ended*/

/*Footer is started*/

    .footer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 2rem 7rem;
    }

    .learn-footer{
        grid-column: 4/5;
        margin: 0;
    }
    .footer h1{
        grid-column: 5/6;
    }

    .follow{
        margin-left: 15%;
    }

    .border-line{
        font-weight: bold;
        border-bottom: 2px solid #ccc; 
        padding-bottom: 5px; 
        margin-bottom: 10px;
        display: inline-block;
    }
}