
@media screen and (min-width: 29rem) {
    .navbar{
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }
    .heading-menu{
        flex-direction: column;
        width: 70%;
        align-items: start;
        margin-left: 0.5rem;
    }
    .nav-heading{
        width: 100%;
        padding: 0.8rem 0 0 0 ;

    }
    .menu-options{
        flex-direction: row;
        justify-content: start;
        padding: 0;
        width: 100%;
    }
    .menu-options > p {
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
    .donate-button-container{
        width: 30%;
        margin: 0 0.5rem 0 0;
    }
    .donate-button{
        width: 100%;
    }

    .the-issue{
        background: url('../assets/home/annie-spratt-135307-unsplash@2x.png');
        background-size: contain;
    }
    .issue-box{
        margin: 0 35%;
        left: -28%;
    }

    .issue-content{
        align-items: start;
    }
    .issue-content > h1{
        text-align: start;
        padding-left: 1rem ;
    }

    .issue-content > p{
        text-align: left;
        padding-left: 1rem;
        font-size: 1rem;
    }

    /*Issue section completed*/

    .action-box{
        margin: 0 30%;
    }
    /*Action Section completed*/

    .what-do{
        align-items: start;
        padding: 2rem 4rem 0rem 4rem;
    }
    .what-do-heading{
        text-align: start;
        font-size: 2rem;
    }
    .card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        padding: 1rem;
    }   
    .card img{
        grid-column: 1/2;
        align-self: center;
    }
    .what-do-content{
        grid-column: 2/4;
        grid-row: 1/3;
    }
    .read-button{
        grid-column: 1/2;
        justify-self: end;
        margin: 0;
    }

    /* what do completed*/

    .hunger-issue{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;
        background: url('./assets/home/Did\ you\ know\ background\ tab.png');
    }

    .hunger-heading{
        width: 50%;
        margin-left: 10%;
        margin-top: 10%;
    }

    .hunger-cards{
        width: 50%;
    }

    .hunger-did-head{
        margin-left: 10%;
        margin-right: 30%;
    }

    /*Hunger section completed*/

    /*stories Section started */

    .stories{
        padding: 2rem;
    }
    
    .image{
        width: 90%;
        padding: 0;
    }

    .image img{
        width: 90%;
    }

    .stories-head{
        margin-left: 10%;
        margin-right: 60%;
    }

    .stories-black-block{
        margin-top: -10%;
        width: 90%;
        margin-left: 15%;
    }

    .stories-content{
        padding: 4rem 0.8rem 4rem 4rem;
    }

    .stories-content h4{
        text-align: start;
        font-size: 1.8rem;
    }

    .stories-content p{
        text-align: start;
        font-size: 0.8rem;
    }

    .stories-button{
        margin-right: 60%;
        margin-left: 2%;
        margin-top: 1rem;
    }


/* stories section ended*/

/*action section started*/

    .action-now{
        padding-left: 4rem;
        padding-right: 1rem;
    }
    .action-content{
        margin-top: 4rem;
    }
    .action-now h1{
        text-align: start;
        margin-left: 0;
    }

    .grid-view{
        grid-template-columns: 1fr 1fr;
        row-gap: 4rem;
    }

    .action-heading{
        text-align: start;
        font-size: 2rem;
    }

    .action-content p{
        text-align: start;
    }
    .action-image img{
        width: 100%;
        /* height: 100%; */
        margin-top: -10%;
    }
    .event-white{
        margin-right: -70%;
        margin-left: 120%;
        margin-bottom: 0;
    }

    .planting-content{
        margin-left: 20%;
    }

    .action-card-2{
        grid-column: 2/3;
    }

    .action-card-2 img{
        margin-top: -10%;
    }

    .latest-white{
        margin-left: -100%;
        margin-right: 150%;
        margin-bottom: 0;
    }

    .meeting-content{
        grid-column: 1/2;
        margin-left: 0;
        justify-self: start;
        margin-right: 20%;
        grid-row: 2/3;
    }
}