@media screen and (min-width: 57rem){
    .main{
        flex-direction: row-reverse;
        justify-content: end;
    }

    .main h1 {
        width: 100%;
        font-size: 4.5rem;
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 10%;
    }

    .form-container{
        width: 120%;
    }


/*Footer is started*/

    .footer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .learn-footer{
        grid-column: 4/5;
        margin: 0;
    }
    .footer h1{
        grid-column: 5/6;
    }

    .follow{
        margin-left: 15%;
    }

    .border-line{
        font-weight: bold;
        border-bottom: 2px solid #ccc; 
        padding-bottom: 5px; 
        margin-bottom: 10px;
        display: inline-block;
    }

   
}