@media screen and (min-width: 29rem) {
    .navbar{
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }
    .heading-menu{
        flex-direction: column;
        width: 70%;
        align-items: start;
        margin-left: 0.5rem;
    }
    .nav-heading{
        width: 100%;
        padding: 0.8rem 0 0 0 ;

    }
    .menu-options{
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    .menu-options p{
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
    .donate-button-container{
        width: 30%;
        margin: 0 0.5rem 0 0;
    }
    .donate-button{
        width: 100%;
    }

    /* Navbar ended*/
    
    /* Issue section start */

    .container{
        padding: 1rem;
    }
    .issue-heading{
        font-size: 3rem;
    }

    .issue-content{
        padding-bottom: 2rem;
    }

    .issue-content h1{
        font-size: 2rem;
        text-align: start;
    }

    .issue-box{
        margin-left: -70%;
    }

/*Issue section completed*/

/* mission section started */

    .mission{
        padding: 2rem 3rem;
    }

    .mission-white-box{
        margin-left: -25%;
        margin-right: 50%;
    }

    .mission h2{
        font-size: 1.75rem;
        text-align: left;
    }

    .mission-grid-view{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-heading{
        font-size: 1.375rem;
    }

/*mission section end*/

/* team section start */

    .team-grid{
        row-gap: 2rem;
        column-gap: 2rem;
    }
    .team-black-head{
        margin-right: 68%;
        margin-left: 3%;
    }
    .team-content{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .team-heading{
        text-align: start;
        font-size: 2.25rem;
        width: 100%;
        padding: 1rem;
    }

    .team-content p{
        font-size: 1.1rem;
        text-align: start;
        width: 80%;
    }

    .team-card img{
        height: 100%;
    }

    .person-details{
        position: relative;
        margin-top: -1.5rem;
        margin-right: -5%;
        margin-left: 1rem;
        padding: 0.5rem;
        text-align: left;
    }

/* team section end */

/* impact section start */

    .impact-white-box{
        margin-left: 30%;
        margin-right: 30%;
    }
    .impact h1{
        font-size: 2.25rem;
    }
    .impact-grid{
        grid-template-columns: 1fr 1fr;
    }
    .impact-card h1{
        font-size: 4.5rem;
    }

    .impact-card h3{
        font-size: 1.375rem;
    }
}