@media screen and (min-width: 57rem){
    .navbar{
        flex-direction: row;
        align-items: center;
        padding: 1rem;
    }
    .heading-menu{
        flex-direction: row;
        align-items: center;
        width: 70%;
    }
    .nav-heading{
        font-size: 0.7rem;
        width: 30%;
    }
    .menu-options{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-left: 1rem;
        font-size: 0.7rem;
    }
    .donate-button-container{
        width: 20%;
    }

/* navbar completed*/

/* Issue section start */

    .container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .issue-content{
        position: relative;
        width: 50%;
        margin-left: 20%;
        margin-bottom: -5rem;
    }


/*Issue section completed*/

/* mission section started */

    .mission-white-box{
        margin-left: -32%;
        margin-right: 50%;
    }

    .mission-grid-view{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

/*mission section end*/

/* team section start */

    .team-grid{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .team-card{
        margin: 10%;
    }

    .team-heading{
        font-size: 2.75rem;
        width: 55%;
        margin: 1rem;
    }

    .team-content p{
        font-size: 1.25rem;
        width:40%;
        justify-self: center;
    }

    .person-details p{
        font-size: 1.2rem;
    }

/* team section end */

/* impact section start */

    .impact-white-box{
        margin-left: 35%;
        margin-right: 35%;
    }
    .impact h1{
        font-size: 2.75rem;
        margin-left: 15%;
        margin-right: 15%;
    }
    .impact-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .impact-card h1{
        font-size: 4.5rem;
    }

    .impact-card h3{
        font-size: 1.75rem;
        margin-left: 10%;
        margin-right: 10%;
    }


}